

    <% include ./partials/header %> 
    <main class="bg">

    <div class="container">
      <div class="boxScope">
   
        <div class="row">
          <div class="col-lg-4 col-s-12">
            <img class="poster" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"><br/>
          </div>
          <div class="col-lg-8 col-s-12">
            <h3><%= movie.title %><br/></h3>     
            <h5><%= movie.vote_average %>/10</h4><br/>     
            <p class="scope">
              <strong>Released: </strong><%= movie.release_date %><br/><br/>
              <strong>Language: </strong><%= movie.original_language.toUpperCase() %><br/><br/>
              <strong>Overview: </strong><%= movie.overview %><br/><br/>
            </p>
            <p class="scope"><a href="../"><-- Back</a></p>
          </div>
        </div>    
      </div>
    </main>
  </body>
</html>
